body {
    overflow: hidden !important; /* Hide scrollbars */
}


.btn-primary {
    background-color: #298430 !important;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px, 12px; 
    border-width: 0px !important;
    border-color: #298430 !important;
}

.btn-primary:hover {
    box-shadow: none;
    background-color: #059862 !important;
}

.navbar-brand{
    height: 8vh;
}

  
ul {
    list-style: none !important;
}

.left-block {
    background-color: #f8f9fa;
    height: 100vh;
}

.left-block li::before {
    content: "•"; color: #298430; font-size: 3vh;
}
